<div class="loginPage_warp">

	<div class="loginPage_inputBox confirm" style="margin-top:25px;">
		<span style="float: left;">手机号：</span>
		<input id="registerPhoneNo" type="text"  class="phone" placeholder="请输入手机号">
		<div class="loginPage_inputBox_btn ui_btn" data-action="verificationCode">发送验证码</div>
	</div> 	

	<div class="loginPage_inputBox">
		<span style="float: left;">验证码：</span>
		<input id="code" type="text"  class="phone" placeholder="请输入验证码">
	</div>

	<div class="loginPage_inputBox">
		<span style="float: left;">密码：</span>
		<input id="password" type="password"  class="phone" placeholder="请输入密码" >
	</div>

	<div class="loginPage_inputBox">
		<span style="float: left;width: 25%">确认密码：</span>
		<input id="confirmPassword" type="password"  class="phone" placeholder="确认密码" >
	</div>

	<div class="loginPage_inputBox_login ui_btn" data-action="toRegister">注册</div>	
	

</div>