<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>详情评价表</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckeditor/ckeditor.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckfinder/ckfinder.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery-form.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/order/busievaluate_detail.js?ts=new Date()"></script>
</head>

<body>
	<div class="box">
		<ul class="list">
			<li class="list-li">
				<label class="leftLi">订单明细标识：</label>
				<div class="rightLi">
					<label class="bseveOrderItem"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">商品标识：</label>
				<div class="rightLi">
					<label class="bseveProduct"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">选择商品属性组合名称（颜色：绿色尺寸：L）：</label>
				<div class="rightLi">
					<label class="bseveAttrName"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">评价人：</label>
				<div class="rightLi">
					<label class="bseveUser"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">评价人姓名：</label>
				<div class="rightLi">
					<label class="bseveName"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">评价人头像：</label>
				<div class="rightLi">
					<label class="bseveHead"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">评价内容：</label>
				<div class="rightLi">
					<label class="bseveContent"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">评价等级:1好评2中评3差评：</label>
				<div class="rightLi">
					<label class="bseveGrade"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">状态:1启动0禁用：</label>
				<div class="rightLi">
					<label class="bseveStatus"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">评价图1：</label>
				<div class="rightLi">
					<label class="bsevePic1"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">评价图2：</label>
				<div class="rightLi">
					<label class="bsevePic2"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">评价图3：</label>
				<div class="rightLi">
					<label class="bsevePic3"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">评价图4：</label>
				<div class="rightLi">
					<label class="bsevePic4"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">评价图5：</label>
				<div class="rightLi">
					<label class="bsevePic5"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">创建时间：</label>
				<div class="rightLi">
					<label class="bseveCdate"></label>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>
