/****************横向滑动块******************/
.h_wrapper {
	width:100%;
	height:176px;
	float:left;
	position:relative;
	z-index:1;
	background: #fff;
	margin-bottom: 12px;
	border-bottom: solid 1px #cacaca;
}

.h_scroller {
	width:200%;
	height:164px;
	float:left;
	padding:0;
}

.h_scroller_ul {
	margin:0px;
	list-style: none;
	list-style-type: none;
	padding:0px;
}

.h_scroller_ul>li {
	width: 20%;
	height: 78px;
	float:left;
	font: 16px/1.231 "Lato", sans-serif;
}

/*.h_scroller_ul>li:active {
  	background:rgba(58, 142, 190, 0.5);
}*/

.type_container {
	text-align: center;
	font-weight: bold;
	float:left;
	width:50%;
	overflow:hidden;
}

.type_img {
	width: 45px;
	height: 45px;
	margin: 12px auto 6px auto;
	border-radius: 50%;
}

.type_span {
	color: #666;
	line-height: 14px;
	font-size: 13px;
}

.type_dot_border {
	width: 24px;
	height: 6px;
	margin: 0px auto;
}

.type_dot_border .type_dot {
	width: 6px;
	height: 6px;
	float: left;
	background: url(../images/pageHome/type_dot.png) no-repeat;
	-webkit-background-size: 6px 6px;
	background-size: 6px 6px;
	margin: 0px 3px;
}

.type_dot_border .type_dot.selected {
	background: url(../images/pageHome/type_dot_selected.png) no-repeat;
	-webkit-background-size: 6px 6px;
	background-size: 6px 6px;
}


/***************首页  start*********************/
.productType {
	width: 100%;
	overflow: auto;
}

.productType_wrapper {
	width: 100%;
	height: 55px;
	border-top: solid 1px #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
	background: #fff;
	margin-top: 12px;
}

.productType_wrapper.typePage {
	margin-top: 0px;
}

.productType_placeholder {
	width: 100%;
	height: 55px;
	display: none;
}

.productType_wrapper_placeholder {
	width: 100%;
	height: 67px;
	display: none;
}

.productType_wrapper.fixed {
	position: fixed;
    top: 0px;
    z-index: 999;
    margin-top: 0px;
}

.productType_border {
	width: 200%;
	height: 55px;
}

.productType_border .item {
	width: 75px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	color: #222;
	font-weight: bold;
	float: left;
}

.productType_border .item.selected {
	height: 51px;
	border-bottom: solid 4px #e40c4d;
}

.indexProduct_item {
	width: 100%;
	overflow: auto;
	border-top: solid 1px #cacaca;
	border-bottom: solid 1px #cacaca;
	background: #fff;
	position: relative;
	margin-top: 12px;
}

.indexProduct_item img {
	width: 100%;
	border-bottom: dashed 1px #cacaca;
}

.indexProduct_item .img_label {
	width: 50px;
	height: 73px;
	position: absolute;
	top: 0px;
	left: 25px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	text-align: center;
    line-height: 50px;
}

.indexProduct_item .img_label.fireStorm {
	background: url("../images/pageHome/fireStorm.png") no-repeat;
	-webkit-background-size: 50px 73px;
	background-size: 50px 73px;
}

.indexProduct_item .title {
	/*margin: 15px 25px;*/
	/*overflow: auto;*/
	font-size: 15px;
	font-weight: bold;
	color: #333;
	line-height: 21px;
	overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 18px;
    margin-bottom: 10px;
    margin-left: 70px;
    margin-right: 20px;
}

.indexProduct_item .attribute {
	margin: 9px 25px 13px 25px;
	color: #333;
	font-size: 12px;
}

.indexProduct_item .bottom {
	width: 100%;
	height: 47px;
}

.indexProduct_item .bottom .div_left {
	width: 100px;
	height: 100%;
	float: left;
	margin-left: 25px;
}

.indexProduct_item .bottom .div_left .price {
	width: 100%;
	height: 13px;
	color: #fb0200;
	font-size: 12px;
	font-weight: bold;
}

.indexProduct_item .bottom .div_left .order_price {
	width: 100%;
	height: 13px;
	color: #222;
	font-size: 12px;
	margin-top: 13px;
}

.indexProduct_item .bottom .div_middle {
	width: 100px;
	height: 100%;
	float: left;
}

.indexProduct_item .bottom .div_middle .status {
	width: 100%;
	height: 13px;
	color: #333;
	font-size: 12px;
}

.indexProduct_item .bottom .div_middle .kd {
	width: 100%;
	height: 13px;
	color: #888;
	font-size: 12px;
	margin-top: 13px;
}

.indexProduct_item .bottom .toBuy {
	width: 80px;
	height: 32px;
	font-size: 15px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	background: #e30a20;
	font-weight: bold;
	float: right;
	margin: 2px 12px 0px 0px;
	border-radius: 3px;
}
/***************首页  end*********************/


/*********************关注公众号  start********************/

.follow{
	width: 100%;
	height: 50px;
	position:fixed;
	bottom: 55px;
	background-color: #fff;
	z-index: 10;
}

.follow .followLeft{
	width: 60%;
	height: 100%;
	float: left;
}

.follow .followLeft .logo{
	width: 25%;
	height: 38px;
	margin-top: 6px;
	margin-left: 10%;
	/*background-image: url(../images/login/login.png);*/
	background-size: 100%;
	background-repeat: no-repeat;
	background-position:center center;
	margin-right: 10px;
	float: left;
}

.follow .followLeft .title{
	width: 55%;
	height: 100%;
	background-color: #fff;
	float: left;

}

.follow .followLeft .title .name{
	width: 100%;
	text-align: left;
	font-weight: bold;
	margin-top: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.follow .followLeft .title .advertising{
	width: 100%;
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #747474;
}

.follow .followButton{
	width: 80px;
	height: 25px;
	background-color: #ffae00;
	border-radius: 5px;
	float:right;
	margin-top: 14px;
	margin-right: 20px;
	text-align: center;
	line-height: 25px;
	font-size: 12px;
	color: #fff;
}

.followContent{
	width: 100%;
	height: 340px;
	background-color: #fff;
	position: fixed;
	bottom: 0px;
	z-index: 1000;
	display: none;
}

.followContent .title{
	width: 76%;
	height: 75px;
/*	background-color: #000;*/
	margin-left: 12%;
	margin-top: 20px;
}

.followContent .title p{
	text-align: center;
	font-weight: bold;
}

.followContent .title .weChat{
	width: 80%;
	height: 40%;
	margin-left: 10%;
	line-height: 30px;
}

.followContent .title .weChat .weChatLogo{
	width: 15%;
	height: 100%;
	background-image: url(../images/weChatLogo/weChatLogo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 80%;
	float: left;
}

.followContent .title .weChat .weChatNumber{
	width: 80%;
	height: 100%;
	line-height: 30px;
	margin-left: 5%;
	float: left;
}

.followContent .qrCode{
	width: 76%;
	height: 130PX;
	margin-left: 12%;
	margin-top: 5px;
}

.followContent .qrCode .qrCodeLeft{
	width: 100%;
	height: 100%;
	float: left;
	/*background-image: url(../images/weChatLogo/code.png);*/
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

.followContent .qrCode .qrCodeRight{
	width: 50%;
	height: 100%;
	float: left;
	background-image: url(../images/weChatLogo/fingerprint.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 75%;
}

.followContent .prompt{
	width:76%;
	text-align: center;
	font-size: 12px;
	margin-left: 12%;
	margin-top: 3%;	

}

.followContent .followContentButton{
	width:76%;
	height: 45px;
	margin-left: 12%;
	margin-top: 20px;
	background-color: #fb0200;
	border-radius: 5px;
	text-align: center;
	line-height: 45px;
	font-size: 24px;
	color: #fff;
}


/*********************关注公众号  end********************/

