<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>详情邀请排行榜表</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckeditor/ckeditor.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckfinder/ckfinder.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery-form.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/invited/busiinvitedchats_detail.js?ts=new Date()"></script>
</head>

<body>
	<div class="box">
		<ul class="list">
			<li class="list-li">
				<label class="leftLi">期数：</label>
				<div class="rightLi">
					<label class="bsicsPeriods"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">状态：</label>
				<div class="rightLi">
					<label class="bsicsStatus"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">金牌事项：</label>
				<div class="rightLi">
					<label class="bsicsGoldMatters"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">金牌邀请人数：</label>
				<div class="rightLi">
					<label class="bsicsGoldNumber"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">金牌奖励：</label>
				<div class="rightLi">
					<label class="bsicsGoldReward"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">金牌获得者：</label>
				<div class="rightLi">
					<label class="bsicsGoldGainer"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">银牌事项：</label>
				<div class="rightLi">
					<label class="bsicsSilverMatters"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">银牌邀请人数：</label>
				<div class="rightLi">
					<label class="bsicsSilverNumber"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">银牌奖励：</label>
				<div class="rightLi">
					<label class="bsicsSilverReward"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">银牌获得者：</label>
				<div class="rightLi">
					<label class="bsicsSilverGainer"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">铜牌事项：</label>
				<div class="rightLi">
					<label class="bsicsBronzeMatters"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">铜牌邀请人数：</label>
				<div class="rightLi">
					<label class="bsicsBronzeNumber"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">铜牌奖励：</label>
				<div class="rightLi">
					<label class="bsicsBronzeReward"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">铜牌获得者：</label>
				<div class="rightLi">
					<label class="bsicsBronzeGainer"></label>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>
