<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>详情邀请活动奖励领取表</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckeditor/ckeditor.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckfinder/ckfinder.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery-form.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/invited/busiinvitedreceive_detail.js?ts=new Date()"></script>
</head>

<body>
	<div class="box">
		<ul class="list">
			<li class="list-li">
				<label class="leftLi">活动期数标识：</label>
				<div class="rightLi">
					<label class="bsireActivity"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">活动期数：</label>
				<div class="rightLi">
					<label class="bsirePeriods"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">领取人：</label>
				<div class="rightLi">
					<label class="bsireUser"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">领取积分：</label>
				<div class="rightLi">
					<label class="bsireIntegral"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">规则邀请人数：</label>
				<div class="rightLi">
					<label class="bsireRuleNumber"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">活动邀请人数：</label>
				<div class="rightLi">
					<label class="bsireActivityNumber"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">领取时间：</label>
				<div class="rightLi">
					<label class="bsireCdate"></label>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>
