<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改商品表</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/busiproduct_add.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckeditor/ckeditor.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckfinder/ckfinder.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery-form.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/product/busiproduct_modify.js?ts=new Date()"></script>

<!-- 上传控件 -->
<link rel="stylesheet" type="text/css" href="../js/upFile/cropper/dist/cropper.css" />
<link rel="stylesheet" type="text/css" href="../js/upFile/cropper/css/main.css"/>
<link rel="stylesheet" type="text/css" href="../js/upFile/upImg.css"/>
<script type='text/javascript' src='../js/upFile/upImg/js/LocalResizeIMG.js'></script>
<script type="text/javascript" src="../js/upFile/cropper/dist/cropper.js"></script>
<script type="text/javascript" src="../js/upFile/upImg.js"></script>
</head>

<body>
	<div class="warp">
		<div class="top">修改商品</div>
		<div class="container">
			<div class="set">
				<div class="btn select" onclick="">基础设置</div> 
				<div class="btn">属性设置</div> 
				<div class="clear"></div>
			</div>
			
			<div class="plate leftSelect rG">
				<ul  class="list">
					<li class="list-li">
						<label class="leftLi">商品名称：</label>
						<div class="rightLi">
							<input type="text" class="inputStyle bsprtName"/>
							<span class="p-red"> *</span>
						</div>
					</li>
					<li class="list-li">
						<label class="leftLi">商品类型：</label>
						<div class="rightLi">
							<span class="bsprtCategory"></span>
						</div>
					</li>
					<li class="list-li">
						<label class="leftLi">商品描述：</label>
						<div class="rightLi">
							<textarea class="bsprtDesc" rows="5" cols="54"></textarea>
						</div>
					</li>
					<li class="list-li">
						<label class="leftLi">客服电话：</label>
						<div class="rightLi">
							<input type="tel" class="inputStyle bsprtTel"/>
							<span class="p-red"> *</span>
						</div>
					</li>
					<li class="list-li">
						<label class="leftLi">售价范围：</label>
						<div class="rightLi">
							<input type="text" class="inputStyle bsprtSalePrice"/>
							<span class="p-red"> *</span>
						</div>
					</li>
					<li class="list-li">
						<label class="leftLi">原价范围：</label>
						<div class="rightLi">
							<input type="text" class="inputStyle bsprtOrignalPrice"/>
							<span class="p-red"> *</span>
						</div>
					</li>
					<li class="list-li">
						<label class="leftLi">销售数量：</label>
						<div class="rightLi">
							<input type="number" class="inputStyle bsprtSaleCount"/>
							<span class="p-red"> *</span>
						</div>
					</li>
					
					<li class="list-li">
						<label class="leftLi">地区</label>
						<div class="rightLi">
							<input type="text" class="inputStyle bsprtAddress"/>
							<span class="p-red"> *</span>
						</div>
					</li>
					<li class="list-li">
						<label class="leftLi">是否是虚拟商品:</label>
						<div class="rightLi">
						<select class="inputStyle bsprtIsVirtual">
							<option value="0">否</option>
							<option value="1">是</option>
						</select>
							<span class="p-red"> *</span>
						</div>
					</li>
					<li class="list-li">
						<label class="leftLi">快递费用：</label>
						<div class="rightLi">
							<input type="number" class="inputStyle bsprtExpress"/>
							
							<span class="p-red"> *</span>
						</div>
					</li>
				
					<li class="list-li">
						<label class="leftLi">推客封面图：</label>
						<div class="rightLi">
							<div id="img_upload_sharePic" class="upImg_div" style="width: 120px;">
							</div>
							<span class="p-red"> *</span>
						</div>						
					</li>
					<li class="list-li">
						<label class="leftLi">商城封面图：</label>
						<div class="rightLi">
							<div id="img_upload_StorePic" class="upImg_div" style="width: 120px;">
							</div>
							<span class="p-red"> *</span>
						</div>	
					</li>
					<li class="list-li">
						<label class="leftLi">主图1：</label>
						<div class="rightLi">
							<div id="img_upload_ImageUrl1" class="upImg_div" style="width: 120px;">
							</div>
							<span class="p-red"> *</span>
						</div>
					</li>
					<li class="list-li">
						<label class="leftLi">主图2：</label>
						<div class="rightLi">
							<div id="img_upload_ImageUrl2" class="upImg_div" style="width: 120px;">
							</div>
							<span class="p-red"> *</span>
						</div>
					</li>
					<li class="list-li">
						<label class="leftLi">主图3：</label>
						<div class="rightLi">
							<div id="img_upload_ImageUrl3" class="upImg_div" style="width: 120px;">
							</div>
							<span class="p-red"> *</span>
						</div>
					</li>
					<li class="list-li">
						<label class="leftLi">主图4：</label>
						<div class="rightLi">
							<div id="img_upload_ImageUrl4" class="upImg_div" style="width: 120px;">
							</div>
							<span class="p-red"> *</span>
						</div>
					</li>
					<li class="list-li">
						<label class="leftLi">主图5：</label>
						<div class="rightLi">
							<div id="img_upload_ImageUrl5" class="upImg_div" style="width: 120px;">
							</div>
							<span class="p-red"> *</span>
						</div>
					</li>
					<li class="list-li">
						<label class="leftLi">标签：</label>
						<div class="rightLi">
							<div class="select-box bsprtProductTag">
			                    <input class="select-item" data-ids="" data-values="" type="text" value="" readonly="readonly"/>
			                    <ul class="select-ul align-left">                        
			                    </ul>
			                </div>
						</div>
					</li>
					<li class="list-li" >
						<label class="leftLi" style=" margin-top: 10px;">热点图标：</label>
						<div class="rightLi">
							<label class="labelHot"></label>
<!-- 							<span class="p-red"> *</span> -->
							<div class="select-box bshstHot" style="padding-top: 10px;">
			                    <!-- <input class="select-item" data-ids="" data-values="" type="text" value="" readonly="readonly"/> -->
<!-- 			                    <ul class="select-ul align-left">                        
			                    </ul> -->
			                </div>
						</div>
					</li>
				</ul>

				<div class="shop">
					<div class="describe selected" data-type="productDescribe">商品详情</div>
					<div class="parameter" data-type="productParam">商品规格</div>
					<div class="shareGrade" data-type="shareGrade">分享等级</div>
				</div>
				<div id="productDescribe" class="product_content">
					<textarea class="textAreaStyle bsprtView" name="bsprtView"></textarea>
				</div>
				<div id="productParam" class="product_content"  style="display: none; min-height: 410px;">
					<div class="item">
						<input id="productFlag" class="ml-12" type="text"/><input id="productVal" class="ml-12" type="text"/> <div id="paramAdd" class="addBtn">添加</div>
					</div>
				</div>
				<div id="shareGrade" class="product_content"  style="display: none; min-height: 410px;">
<!-- 					<div class="item"> -->
<!-- 					<span style="float: left">分享等级名称：</span><input id="productFlag" type="text" placeholder="请输入分享获得积分数"/><input id="productFlag" type="text" placeholder="请输入分享并确认收货获得单个返现收益"/> -->
<!-- 					</div> -->
				</div>
			</div>
			
			<div class="plate rightSelect">
				<div id="typeCheck" class="first">
					<div class="attribute">属性值选择</div>
					<div class="add"><input id="typeCheckAddVal" type="text" name="" placeholder="请输入要添加的属性"><input type="button" name="" value="添加" onclick="addType()"></div>
					<div class="much">
					</div>
				</div>
				<div id="attrSelect" class="second noline">
					<div id="attrs" class="value">属性值选择</div>
				</div>
				<div class="three noline">
					<div class="quote">商品报价及库存（注：价格不能少于0.01元）</div>
					<div id="product_table" class="product_table">
					</div>
				</div>
			</div>
			
			<div class="submit_placeholder"></div>
			<div class="submit">
				<input type="button" name="" class="submit_btn" value="保存表格">
			</div>
		</div>	
	</div>
</body>
</html>