<div class="onLine_phone">
	<a href="tel:0572-8888888">
		<div class="item">
			客服热线电话1：0572-8888888
			<div class="phone_flag"></div>
		</div>
	</a>
	<a href="tel:0572-8888888">
		<div class="item">
			客服热线电话2：0572-8888888
			<div class="phone_flag"></div>
		</div>
	</a>
</div>

<div class="qq_item">
	<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=450459217&amp;site=oicqzone.com&amp;menu=yes" target="_blank">
		<div class="qq_flag"></div>
		<div class="qq_span">QQ客服1</div>
	</a>
</div>
<div class="qq_item">
	<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=450459217&amp;site=oicqzone.com&amp;menu=yes" target="_blank">
		<div class="qq_flag"></div>
		<div class="qq_span">QQ客服2</div>
	</a>
</div>
<div class="qq_item">
	<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=450459217&amp;site=oicqzone.com&amp;menu=yes" target="_blank">
		<div class="qq_flag"></div>
		<div class="qq_span">QQ客服3</div>
	</a>
</div>

