<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>详情分享商品购买收货记录表</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckeditor/ckeditor.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckfinder/ckfinder.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery-form.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/my/busisharereceipt_detail.js?ts=new Date()"></script>
</head>

<body>
	<div class="box">
		<ul class="list">
			<li class="list-li">
				<label class="leftLi">分享用户：</label>
				<div class="rightLi">
					<label class="bssrtUser"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">分享时等级：</label>
				<div class="rightLi">
					<label class="bssrtGrade"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">分享商品：</label>
				<div class="rightLi">
					<label class="bssrtProduct"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">分享商品推客封面图：</label>
				<div class="rightLi">
					<img id="bssrtSharePic" alt="" src=""/>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">分享商品商城封面图：</label>
				<div class="rightLi">
					<img id="bssrtStorePic" alt="" src=""/>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">分享商品名称：</label>
				<div class="rightLi">
					<label class="bssrtProductName"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">购买用户：</label>
				<div class="rightLi">
					<label class="bssrtBuyUser"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">下单订单号：</label>
				<div class="rightLi">
					<label class="bssrtOrderNo"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">下单时间：</label>
				<div class="rightLi">
					<label class="bssrtCdate"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">确认收货时间：</label>
				<div class="rightLi">
					<label class="bssrtReceiptDate"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">交易完成时间：</label>
				<div class="rightLi">
					<label class="bssrtFinishDate"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">购买数量：</label>
				<div class="rightLi">
					<label class="bssrtBuyCount"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">购买金额：</label>
				<div class="rightLi">
					<label class="bssrtBuyFee"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">返现收益：</label>
				<div class="rightLi">
					<label class="bssrtBackNow"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">成交状态：</label>
				<div class="rightLi">
					<label class="bssrtStatus"></label>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>
