<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>详情用户分享记录表</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckeditor/ckeditor.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckfinder/ckfinder.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery-form.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/my/busisharerecord_detail.js?ts=new Date()"></script>
</head>

<body>
	<div class="box">
		<ul class="list">
			<li class="list-li">
				<label class="leftLi">所属用户：</label>
				<div class="rightLi">
					<label class="bssrdUser"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">分享时等级：</label>
				<div class="rightLi">
					<label class="bssrdGrade"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">单个商品佣金：</label>
				<div class="rightLi">
					<label class="bssrdCommision"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">分享商品：</label>
				<div class="rightLi">
					<label class="bssrdProduct"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">商品推客封面图：</label>
				<div class="rightLi">
					<img id="bssrdSharePic"  src="" />
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">商品商城封面图：</label>
				<div class="rightLi">
					<img id="bssrdStorePic"  src="" />
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">分享商品名称：</label>
				<div class="rightLi">
					<label class="bssrdProductName"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">事项：</label>
				<div class="rightLi">
					<label class="bssrdBill"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">分享时间：</label>
				<div class="rightLi">
					<label class="bssrdCdate"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">更新时间：</label>
				<div class="rightLi">
					<label class="bssrdUdate"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">付款笔数：</label>
				<div class="rightLi">
					<label class="bssrdPaymentCount"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">返现收益：</label>
				<div class="rightLi">
					<label class="bssrdBackNow"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">积分收益：</label>
				<div class="rightLi">
					<label class="bssrdIntegral"></label>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>
