<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>详情收货地址表</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckeditor/ckeditor.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckfinder/ckfinder.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery-form.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/my/busishippingaddress_detail.js?ts=new Date()"></script>
</head>

<body>
	<div class="box">
		<ul class="list">
			<li class="list-li">
				<label class="leftLi">所属用户：</label>
				<div class="rightLi">
					<label class="bssasUser"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">收货人姓名：</label>
				<div class="rightLi">
					<label class="bssasName"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">身份证号：</label>
				<div class="rightLi">
					<label class="bssasIdCard"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">联系方式：</label>
				<div class="rightLi">
					<label class="bssasMobile"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">邮政编码：</label>
				<div class="rightLi">
					<label class="bsarsZipCode"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">所在省名称：</label>
				<div class="rightLi">
					<label class="bssasProvinceName"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">所在市名称：</label>
				<div class="rightLi">
					<label class="bssasCityName"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">所在区名称：</label>
				<div class="rightLi">
					<label class="bssasCountyName"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">详细地址：</label>
				<div class="rightLi">
					<label class="bssasAddress"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">是否默认：</label>
				<div class="rightLi">
					<label class="bsarsDefault"></label>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>
