<div class="loginPage_warp">

	<div class="loginPage_top">
		<img src="./images/login/login.png">
	</div>

	
	<!-- <input id="accountName" type="text" class="loginPage_inputBox " placeholder="手机号："> -->
	<div class="loginPage_inputBox">
		<span>手机号：</span>
		<input id="accountName" type="text"  class="phone" placeholder="请输入手机号">
	</div>
	
	<!-- <input id="accountPassword" type="password" class="loginPage_inputBox" placeholder="密码"> -->
	<div class="loginPage_inputBox">
		<span>密码：</span>
		<input id="accountPassword" type="password"  class="phone" placeholder="请输入密码">
	</div>

	<div class="loginPage_inputBox_login ui_btn" data-action="logIn">登录</div>
	<div class="forgetPassword">
	<span class="ui_btn" data-action="forgetPassword">忘记密码</span>
	<span class="ui_btn" style="float: right;" data-action="register">没有账号，快速注册</span>
	</div>
	
</div>	
