<!-- <div class="warp">
	<div class="details" style="margin-top:12px;border-top:1px solid #cacaca">
		<div class="details_bg" style="padding-top:12px;">
			<div class="details_areaLt">
				<span><span>2017-01-10</span>
				</br>
				<span style="padding-left:20px;" >21:19</span></span>
				<img src="./images/mine/lift.png" alt="">
			</div>
			<div class="details_areaRg">
				<span>-10000</span>
				</br>
				<span>兑换等级LV2消耗10000积分10000积10000积</span>

			</div>
		</div>	
	</div>

	<div class="details">
		<div class="details_bg" style="padding-top:12px;">
			<div class="details_areaLt">
				<span><span>2017-01-10</span>
				</br>
				<span style="padding-left:20px;" >21:19</span></span>
				<img src="./images/mine/money.png" alt="">
			</div>
			<div class="details_areaRg">
				<span>+100</span>
				</br>
				<span>邀请好友100获得积分100000</span>

			</div>
		</div>	
	</div>

	<div class="details" >
		<div class="details_bg" style="padding-top:12px;">
			<div class="details_areaLt">
				<span><span>2017-01-10</span>
				</br>
				<span style="padding-left:20px;" >21:19</span></span>
				<img src="./images/mine/lift.png" alt="" style="margin-top:12px;">
			</div>
			<div class="details_areaRg">
				<span>-100000</span>
				</br>
				<span>手机充值100消耗积分100000；</span>

			</div>
		</div>	
	</div>

	<div class="details">
		<div class="details_bg" style="padding-top:12px;">
			<div class="details_areaLt">
				<span><span>2017-01-10</span>
				</br>
				<span style="padding-left:20px;" >21:19</span></span>
				<img src="./images/mine/money.png" alt=""style="margin-top:12px;">
			</div>
			<div class="details_areaRg">
				<span>+1</span>
				</br>
				<span>分享XXX商品获得XXX购买返现返现返现返现</span>

			</div>
		</div>	
	</div>

	<div class="details">
		<div class="details_bg" style="padding-top:12px;">
			<div class="details_areaLt">
				<span><span>2017-01-10</span>
				</br>
				<span style="padding-left:20px;" >21:19</span></span>
				<img src="./images/mine/lift.png" alt=""style="margin-top:12px;">
			</div>
			<div class="details_areaRg">
				<span>-100000</span>
				</br>
				<span>手机充值100消耗积分100000；</span>

			</div>
		</div>	
	</div>

	<div class="details">
		<div class="details_bg">
			<div class="details_areaLt">
				<span><span>2017-01-10</span>
				</br>
				<span style="padding-left:20px;" >21:19</span></span>
				<img src="./images/mine/money.png" alt="">
			</div>
			<div class="details_areaRg">
				<span>+3</span>
				</br>
				<span>今日签到获得3积分</span>

			</div>
		</div>	
	</div>	
</div> -->
<div id="wrapper">
	<div id="scroller">
		<div id="scroller-pullDown">
			<span id="down-icon" class="icon-double-angle-down pull-down-icon"></span>
			<span id="pullDown-msg" class="pull-down-msg">下拉刷新</span>
		</div>
		<div id="scroller-content">
			<ul>
			</ul>
		</div>
		<div id="scroller-pullUp">
			<span id="up-icon" class="icon-double-angle-up pull-up-icon"></span>
			<span id="pullUp-msg" class="pull-up-msg">上拉加载</span>
		</div>
	</div>
</div>
