
<!-- 	<div class="messageCenter_bg">
		 <div class="messageCenter_warp">
		 	<img src="./images/mine/cash.png" alt="">
			<span class="rank">提现成功，请查收</span>
		 	<span style="color:#666;font-size:13px;">2016-12-14</span>
		 	
		 </div>
	</div>

	<div class="messageCenter_bg">
		 <div class="messageCenter_warp">
		 	<img src="./images/mine/grade.png" alt="">
		 	<span class="rank">恭喜您,等级升级至3级,消耗10000积消耗10000积分10000积分</span>
		 	<span style="color:#666;font-size:13px;">2016-12-14</span>
		 	
		 </div>
	</div>

	<div class="messageCenter_bg">
		 <div class="messageCenter_warp">
		 	<img src="./images/mine/gold.png" alt="">
			<span class="rank">
		 	分享XXX商品有XXX人购买,获得多少积分获取</span>
		 	<span style="color:#666;font-size:13px;">2016-12-14</span>
		 	
		 	
		 </div>
	</div>

	<div class="messageCenter_bg">
		 <div class="messageCenter_warp">
		 	<img src="./images/mine/integral.png" alt="">
		 	<spanclass="rank">分享XXX商品链接,获得多少积分到账户</span>
		 	<span style="color:#666;font-size:13px;">2016-12-14</span>
		 	
		 </div>
	</div> -->


<div id="wrapper">
	<div id="scroller">
		<div id="scroller-pullDown">
			<span id="down-icon" class="icon-double-angle-down pull-down-icon"></span>
			<span id="pullDown-msg" class="pull-down-msg">下拉刷新</span>
		</div>
		<div id="scroller-content">
			<ul>
			</ul>
		</div>
		<div id="scroller-pullUp">
			<span id="up-icon" class="icon-double-angle-up pull-up-icon"></span>
			<span id="pullUp-msg" class="pull-up-msg">上拉加载</span>
		</div>
	</div>
</div>
