<div class="warp">
	<div id="topSelect" class="record_top"style="font-size:16px;">
	<!-- 1已申请2交易成功3交易失败 -->
		<div class="presentationRecord_area selected ui_btn" data-action="presentationType" data-type="1">	
			<div class="presentationRecord_bar">已申请</div>
		</div>

		<div class="presentationRecord_area ui_btn" data-action="presentationType" data-type="2">		
			<div class="presentationRecord_bar">交易成功</div>
		</div>

		<div class="presentationRecord_area ui_btn" data-action="presentationType" data-type="3">	
			<div class="presentationRecord_bar"style="border-right:0;">交易失败</div>
		</div>
	</div>
	<div class="presentationRecord_shell">
		<div class="presentationRecord_area">支付账户</div>
		<div class="presentationRecord_area" style="width: 25%;">金额</div>
		<div class="presentationRecord_area" style="width: 41%;">时间日期</div>
	</div>
	 <!-- <div class="record_top"style="margin-bottom:2px;border:0">
	 	<div class="presentationRecord_area">13855336095</div>
	 	<div class="presentationRecord_area">100</div>
	 	<div class="presentationRecord_area">12-12 21:09</div>
	 </div>

	  <div class="record_top"style="margin-bottom:2px;border:0">
	 	<div class="presentationRecord_area">13855336095</div>
	 	<div class="presentationRecord_area">100</div>
	 	<div class="presentationRecord_area">12-12 21:09</div>
	 </div>

	  <div class="record_top"style="margin-bottom:2px;border:0">
	 	<div class="presentationRecord_area">13855336095</div>
	 	<div class="presentationRecord_area">100</div>
	 	<div class="presentationRecord_area">12-12 21:09</div>
	 </div>

	  <div class="record_top"style="margin-bottom:2px;border:0">
	 	<div class="presentationRecord_area">13855336095</div>
	 	<div class="presentationRecord_area">100</div>
	 	<div class="presentationRecord_area">12-12 21:09</div>
	 </div>

	  <div class="record_top"style="margin-bottom:2px;border:0">
	 	<div class="presentationRecord_area">13855336095</div>
	 	<div class="presentationRecord_area">100</div>
	 	<div class="presentationRecord_area">12-12 21:09</div>
	 </div>

	  <div class="record_top"style="margin-bottom:2px;border:0">
	 	<div class="presentationRecord_area">13855336095</div>
	 	<div class="presentationRecord_area">100</div>
	 	<div class="presentationRecord_area">12-12 21:09</div>
	 </div> -->


	<div id="wrapper" style="top: 98px;">
		<div id="scroller">
			<div id="scroller-pullDown">
				<span id="down-icon" class="icon-double-angle-down pull-down-icon"></span>
				<span id="pullDown-msg" class="pull-down-msg">下拉刷新</span>
			</div>
			<div id="scroller-content">
				<ul>
				</ul>
			</div>
			<div id="scroller-pullUp">
				<span id="up-icon" class="icon-double-angle-up pull-up-icon"></span>
				<span id="pullUp-msg" class="pull-up-msg">上拉加载</span>
			</div>
		</div>
	</div>

</div>