<!-- <div class="warp">
	<div class="record_top">
		<div class="recordConversion_bg">
			<div class="recordConversion_bar" style="font-size:16px;">兑换话费</div>
			<div class="recordConversion_bar" style="font-size:16px;">消耗积分</div>
			<div class="recordConversion_bar" style="font-size:16px;">兑换时间</div>
			<div class="recordConversion_bar" style="font-size:16px;">状态</div>
		</div>
	</div> -->
	<!-- <div class="recordConversion_area" style="border-top:1px solid #cacaca;">
		<div class="recordConversion_bg">
			
			<div class="recordConversion_bar"><img src="./images/mine/selected.png" alt="">100</div>
			<div class="recordConversion_bar">10000</div>
			<div class="recordConversion_bar" style="width:28%">12-12 21:09</div>
			<div class="recordConversion_bar" style="color:#ffcd02;width:22%">已充值</div>
		</div>
	</div>
	<div class="recordConversion_area">
		<div class="recordConversion_bg">
			
			<div class="recordConversion_bar"><img src="./images/mine/selected.png" alt="">100</div>
			<div class="recordConversion_bar">10000</div>
			<div class="recordConversion_bar" style="width:28%">12-12 21:09</div>
			<div class="recordConversion_bar" style=";width:22%">待充值</div>
		</div>
	</div>
	<div class="recordConversion_area" style="border-top:1px solid #cacaca;">
		<div class="recordConversion_bg">
			
			<div class="recordConversion_bar"><img src="./images/mine/selected.png" alt="">100</div>
			<div class="recordConversion_bar">10000</div>
			<div class="recordConversion_bar" style="width:28%">12-12 21:09</div>
			<div class="recordConversion_bar" style="color:#ffcd02;width:22%">已充值</div>
		</div>
	</div>
	<div class="recordConversion_area">
		<div class="recordConversion_bg">
			
			<div class="recordConversion_bar"><img src="./images/mine/selected.png" alt="">100</div>
			<div class="recordConversion_bar">10000</div>
			<div class="recordConversion_bar" style="width:28%">12-12 21:09</div>
			<div class="recordConversion_bar" style=";width:22%">待充值</div>
		</div>
	</div>

	<div class="recordConversion_area">
		<div class="recordConversion_bg">
			
			<div class="recordConversion_bar"><img src="./images/mine/selected.png" alt="">100</div>
			<div class="recordConversion_bar">10000</div>
			<div class="recordConversion_bar" style="width:28%">12-12 21:09</div>
			<div class="recordConversion_bar" style=";width:22%">待充值</div>
		</div>
	</div>
	<div class="recordConversion_area">
		<div class="recordConversion_bg">
			
			<div class="recordConversion_bar"><img src="./images/mine/selected.png" alt="">100</div>
			<div class="recordConversion_bar">10000</div>
			<div class="recordConversion_bar" style="width:28%">12-12 21:09</div>
			<div class="recordConversion_bar" style=";width:22%">待充值</div>
		</div>
	</div>
</div> -->
<div class="warp">
	<div class="record_top">
		<div class="recordConversion_bg">
			<div class="recordConversion_bar" style="font-size:16px;">兑换话费</div>
			<div class="recordConversion_bar" style="font-size:16px;">消耗积分</div>
			<div class="recordConversion_bar" style="font-size:16px; width:32%;">兑换时间</div>
			<div class="recordConversion_bar" style="font-size:16px; width:20%;">状态</div>
		</div>
	</div>

	<div id="wrapper" style="top:45px">
		<div id="scroller">
			<div id="scroller-pullDown">
				<span id="down-icon" class="icon-double-angle-down pull-down-icon"></span>
				<span id="pullDown-msg" class="pull-down-msg">下拉刷新</span>
			</div>
			<div id="scroller-content">
				<ul>
				</ul>
			</div>
			<div id="scroller-pullUp">
				<span id="up-icon" class="icon-double-angle-up pull-up-icon"></span>
				<span id="pullUp-msg" class="pull-up-msg">上拉加载</span>
			</div>
		</div>
	</div>
</div>