<%if( exchangeList.length == 0 ){%>
	<li>
		<div id="mainStage">
			<div class="warp">
				<div class="page">
					<img src="./images/order/order.png" alt="" style="width:88px;height:92px;"><span style="color:#999">无相关信息</span>
				</div>
			</div>
		</div>
	</li>

<%}else{%>

	<%for(var i=0; i<exchangeList.length; i++){%>

		<%
			var bseblStatus=exchangeList[i].bseblStatus;
			if( bseblStatus = "1"){
				var state="已充值";
			}else{
				var state="待充值";
			}

		%>
			<div class="recordConversion_area" style="border-top:1px solid #cacaca;">
				<div class="recordConversion_bg">
					
					<div class="recordConversion_bar"><img src="./images/mine/selected.png" alt=""><%=exchangeList[i].bseblBill%></div>
					<div class="recordConversion_bar"><%=exchangeList[i].bseblIntegral%></div>
					<div class="recordConversion_bar" style="width:32%;"><%=exchangeList[i].bseblCdate%></div>
					<div class="recordConversion_bar" style="color:#ffcd02;width:20%"><%=state%></div>
				</div>
			</div>
	<%}%>
<%}%>