<!-- <div class="warp">
	<div class="shareRecord"style="margin-top:12px;border-top:1px solid #cacaca;">
		<div class="shareRecord_area">

			<div class="shareRecord_areaLt">
				<div class="photo">
					<img src="./images/mine/img_2.png" alt="">
				</div>
				<span style="margin-top:0;">分享XXX商品</span>
				
				<span style="color:#888;">2016-2-1 21:09 </span>
			</div>
			<div class="shareRecord_areaRg">
				<span style="margin-top:0;">付款笔数：1</span>
				
				<span>返现收益：+10</span>
			
				<span>积分收益：+10</span>
			
			</div>
		</div>
	</div>

	<div class="shareRecord">
		<div class="shareRecord_area">
			<div class="shareRecord_areaLt">
				<div class="photo">
					<img src="./images/mine/img_2.png" alt="">
				</div>
				<span style="margin-top:0;">分享XXX商品</span>
				
				<span style="color:#888;">2016-2-1 21:09 </span>
			</div>
			<div class="shareRecord_areaRg">
				<span style="margin-top:0;">付款笔数：1</span>
			
				<span>返现收益：+10</span>
			
				<span>积分收益：+10</span>
			
			</div>
		</div>
	</div>

	<div class="shareRecord">
		<div class="shareRecord_area">
			<div class="shareRecord_areaLt">
				<div class="photo">
					<img src="./images/mine/img_2.png" alt="">
				</div>
				<span style="margin-top:0;">分享XXX商品</span>
				
				<span style="color:#888;">2016-2-1 21:09 </span>
			</div>
			<div class="shareRecord_areaRg">
				<span style="margin-top:0;">付款笔数：1</span>
				
				<span>返现收益：+10</span>
				
				<span>积分收益：+10</span>
			
			</div>
		</div>
	</div>
</div> -->

<div class="warp">
	<div id="wrapper">
		<div id="scroller">
			<div id="scroller-pullDown">
				<span id="down-icon" class="icon-double-angle-down pull-down-icon"></span>
				<span id="pullDown-msg" class="pull-down-msg">下拉刷新</span>
			</div>
			<div id="scroller-content">
				<ul>
				</ul>
			</div>
			<div id="scroller-pullUp">
				<span id="up-icon" class="icon-double-angle-up pull-up-icon"></span>
				<span id="pullUp-msg" class="pull-up-msg">上拉加载</span>
			</div>
		</div>
	</div>
</div>