<div class="evaluate_top">
	<div class="evaluate_head"></div>
	<div class="img_item praise ui_btn" data-action="evaluateSelect" data-type="1">好评</div>
	<div class="img_item moderate ui_btn" data-action="evaluateSelect" data-type="2">中评</div>
	<div class="img_item negative ui_btn" data-action="evaluateSelect" data-type="3">差评</div>
</div>

<textarea class="evaluate_textarea" placeholder="宝贝满足您的期待吗？说说它的优点和每种不足的地方。"></textarea>

<div class="evaluate_pic">
	<div class="item">
		<div id="img_head_pic" class="img-head-picture" style="background: url("undefined") 0% 0% / 100px 100px;" >
			<input type="file" id="uploadphoto" name="uploadfile"  class="img-head-input"/>
		</div>
	</div>
</div>


<div class="evaluate_sure_btn ui_btn" data-action="goRelease">发布</div>