<!-- <div class="myMessage_item">
	<img src="images/test/myMessage_test.png">
	<span class="content">请，的封杀令肌肤撒看来减肥啦睡觉第三轮咖啡的的说法撒三大发生大 </span>
	<span class="time">2015-11-03</span>
</div>

<div class="myMessage_item">
	<img src="images/test/myMessage_test.png">
	<span class="content">请，的封杀令肌肤撒看来减肥啦睡觉第三轮咖啡的的说法撒三大发生大 </span>
	<span class="time">2015-11-03</span>
</div>

<div class="myMessage_item">
	<img src="images/test/myMessage_test.png">
	<span class="content">请，的封杀令肌肤撒看来减肥啦睡觉第三轮咖啡的的说法撒三大发生大 </span>
	<span class="time">2015-11-03</span>
</div>

 -->



<div id="wrapper">
	<div id="scroller">
		<div id="scroller-pullDown">
			<span id="down-icon" class="icon-double-angle-down pull-down-icon"></span>
			<span id="pullDown-msg" class="pull-down-msg">下拉刷新</span>
		</div>
		<div id="scroller-content">
			<ul>
			</ul>
		</div>
		<div id="scroller-pullUp">
			<span id="up-icon" class="icon-double-angle-up pull-up-icon"></span>
			<span id="pullUp-msg" class="pull-up-msg">上拉加载</span>
		</div>
	</div>
</div>
