<div class="myOrder_type_border">
	<div class="item selected ui_btn" data-action="myOrderType" data-index="0" data-type="myOrder_waitPay_item">待付款</div>
	<div class="item ui_btn" data-action="myOrderType" data-index="1" data-type="myOrder_waitSend_item">待发货</div>
	<div class="item ui_btn" data-action="myOrderType" data-index="2" data-type="myOrder_waitReceive_item">待收货</div>
	<div class="item ui_btn" data-action="myOrderType" data-index="3" data-type="myOrder_waitEvaluate_item">待评价</div>
	<div class="item ui_btn" data-action="myOrderType" data-index="4" data-type="myOrder_finish_item">已完成</div>
</div>

<div id="wrapper" style="margin-top:46px;;">
	<div id="scroller">
		<div id="scroller-pullDown">
			<span id="down-icon" class="icon-double-angle-down pull-down-icon"></span>
			<span id="pullDown-msg" class="pull-down-msg">下拉刷新</span>
		</div>
		<div id="scroller-content">
			<ul>
				
			</ul>
		</div>
		<div id="scroller-pullUp">
			<span id="up-icon" class="icon-double-angle-up pull-up-icon"></span>
			<span id="pullUp-msg" class="pull-up-msg">上拉加载</span>
		</div>
	</div>
</div>