
<%if( list.length == 0 ){%>
	<li>
		<div id="mainStage">
			<div class="warp">
				<div class="page">
					<img src="./images/order/order.png" alt="" style="width:88px;height:92px;"><span style="color:#999">无相关订单</span>
				</div>
			</div>
		</div>
	</li>

<%}else{%>
	
	<%for(var i=0; i<list.length; i++){%>
		<li>
			<div class="myOrder_item">
				<div class="top">
					<span class="orderNumber">订单号：<%=list[i].bsoimUuid%></span>
				</div>
				<div class="div_middle_border">
					<div class="div_middle ui_btn" data-uuid="<%=list[i].bsoimUuid%>" data-action="goDesc_finish">
						<img src="<%=WEB_URL+"coreAttachment/image/get/"+list[i].bsoimStorePic%>" class="product_img" />
						<div class="content">
							<div class="title"><%=list[i].bsoimProductName%></div>
							<div class="attr">颜色分类：<%=list[i].bsoimAttrName%></div>
						</div>
						<div class="div_number">
							<div class="price">￥<%=list[i].bsoimPrice%></div>
							<div class="number">x<%=list[i].bsoimQuantity%></div>
						</div>
					</div>
				</div>
				<div class="div_sum">
					<span class="span_sum">共<%=list[i].bsoimQuantity%>件商品  合计:<%=list[i].bsoimValue%>元  (含运费<%=list[i].bsoimExpress%>元)</span>
				</div>
				<div class="bottom">
					<div class="myOrder_btn cancel ui_btn" data-action="goDelete" data-uuid="<%=list[i].bsoimUuid%>">删除订单</div>
				</div>
			</div>
		</li>
	<%}%>



<%}%>


