<!-- <div class="indexProduct_item" style="margin-top: 0px;">
	<img src="images/test/product_img_test.png">
	<div class="img_label fireStorm">爆抢</div>
	<div class="title">美国车厘子美国车厘子美国车厘子美国车厘子美国车厘子</div>
	<div class="attribute">娇嫩脆甜、果肉细腻、冷场更好</div>
	<div class="bottom">
		<div class="div_left">
			<div class="price">￥59元</div>
			<div class="order_price">原价<span class="out_time">￥60元</span></div>
		</div>
		<div class="div_middle">
			<div class="status">已售：2.2万</div>
			<div class="kd">快递：包邮</div>
		</div>
		<div class="toBuy ui_btn" data-action="goBuy">立即购买</div>
	</div>
</div>

<div class="indexProduct_item">
	<img src="images/test/product_img_test.png">
	<div class="img_label fireStorm">爆抢</div>
	<div class="title">美国车厘子美国车厘子美国车厘子美国车厘子美国车厘子</div>
	<div class="attribute">娇嫩脆甜、果肉细腻、冷场更好</div>
	<div class="bottom">
		<div class="div_left">
			<div class="price">￥59元</div>
			<div class="order_price">原价<span class="out_time">￥60元</span></div>
		</div>
		<div class="div_middle">
			<div class="status">已售：2.2万</div>
			<div class="kd">快递：包邮</div>
		</div>
		<div class="toBuy ui_btn" data-action="goBuy">立即购买</div>
	</div>
</div>

<div class="indexProduct_item">
	<img src="images/test/product_img_test.png">
	<div class="img_label fireStorm">爆抢</div>
	<div class="title">美国车厘子美国车厘子美国车厘子美国车厘子美国车厘子</div>
	<div class="attribute">娇嫩脆甜、果肉细腻、冷场更好</div>
	<div class="bottom">
		<div class="div_left">
			<div class="price">￥59元</div>
			<div class="order_price">原价<span class="out_time">￥60元</span></div>
		</div>
		<div class="div_middle">
			<div class="status">已售：2.2万</div>
			<div class="kd">快递：包邮</div>
		</div>
		<div class="toBuy ui_btn" data-action="goBuy">立即购买</div>
	</div>
</div>
 -->
 <div>
	<div id="commodity">
		<div id="wrapper" style="bottom:50px;">
			<div id="scroller">
				<div id="scroller-pullDown">
					<span id="down-icon" class="icon-double-angle-down pull-down-icon"></span>
					<span id="pullDown-msg" class="pull-down-msg">下拉刷新</span>
				</div>
				<div id="scroller-content">
					<ul style="background: #f6f5f7">
					</ul>
				</div>
				<div id="scroller-pullUp">
					<span id="up-icon" class="icon-double-angle-up pull-up-icon"></span>
					<span id="pullUp-msg" class="pull-up-msg">上拉加载</span>
				</div>
			</div>
		</div>
	</div>
</div>