<%if( bsprtCategory.length == 0 ){%>
	<li>
		<div id="mainStage">
			<div class="warp">
				<div class="page">
					<img src="./images/order/order.png" alt="" style="width:88px;height:92px;"><span style="color:#999">无相关信息</span>
				</div>
			</div>
		</div>
	</li>
<%}else{%>
	<%for(var i=0; i<bsprtCategory.length; i++){%>
	<li>
		<div class="indexProduct_item ui_btn" data-action="goBuy" data-uuid="<%=bsprtCategory[i].bsprtUuid%>">
			<img class="lazy" src="<%<%=WEB_URL+"coreAttachment/image/get/"+bsprtCategory[i].bsprtStorePic%>" >
			<!-- <div class="img_label fireStorm">爆抢</div> -->
			<div style=" width: 35px; height: 35px; background-image: url(<%=WEB_URL+"coreAttachment/image/get/"+bsprtCategory[i].bsprtHotspotIcon%>);  background-size: cover; margin-top: 10px;  margin-left: 25px; float: left;"></div>
			<div class="title"><%=bsprtCategory[i].bsprtName%></div>
			<div class="attribute"><%=bsprtCategory[i].bsprtDesc%></div>
			<div class="bottom">
				<div class="div_left">
					<div class="price">￥<%=bsprtCategory[i].bsprtSalePrice%>元</div>
					<div class="order_price">原价<span class="out_time">￥<%=bsprtCategory[i].bsprtOrignalPrice%>元</span></div>
				</div>
				<div class="div_middle">
					<div class="status">已售：<%=bsprtCategory[i].bsprtSaleCount%></div>
					<div class="kd">快递：<%=bsprtCategory[i].bsprtExpress%>元</div>
				</div>
				<div class="toBuy">立即购买</div>
			</div>
		</div>
	</li>
	<%}%>
<%}%>