<div>
	<div id="commodity">
		<div id="wrapper" style="bottom: 50px;">
			<div id="scroller">
				<div id="scroller-pullDown">
					<span id="down-icon" class="icon-double-angle-down pull-down-icon"></span>
					<span id="pullDown-msg" class="pull-down-msg">下拉刷新</span>
				</div>
				<div id="scroller-content">
					<ul style="background: #f6f5f7">
						<li class="notRefresh ui_btn" >

						</li> 
					</ul>
				</div>
				<div id="scroller-pullUp">
					<span id="up-icon" class="icon-double-angle-up pull-up-icon"></span>
					<span id="pullUp-msg" class="pull-up-msg">上拉加载</span>
				</div>
			</div>
		</div>
	</div>
</div>