<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改服务详情页面表</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckeditor/ckeditor.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckfinder/ckfinder.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery-form.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/server/busiserverdetail_modify.js?ts=new Date()"></script>
</head>

<body>
	<div class="box">
		<ul class="list">
			<li class="list-li">
				<label class="leftLi">Title内容：</label>
				<div class="rightLi">
					<input type="text" class="inputStyle bssdlTitle"/>
					<span class="p-red"> *</span>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">SEO关键字：</label>
				<div class="rightLi">
					<input type="text" class="inputStyle bssdlSeo"/>
					<span class="p-red"> *</span>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">页面html内容：</label>
				<div class="rightLi">
					<input type="text" class="inputStyle bssdlHtml"/>
					<span class="p-red"> *</span>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">生成的URL路径：</label>
				<div class="rightLi">
					<input type="text" class="inputStyle bssdlUrl"/>
					<span class="p-red"> *</span>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">创建日期：</label>
				<div class="rightLi">
					<input type="text" class="inputStyle bssdlCdate"/>
					<span class="p-red"> *</span>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">修改日期：</label>
				<div class="rightLi">
					<input type="text" class="inputStyle bssdlUdate"/>
					<span class="p-red"> *</span>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">状态:1启用,0禁用：</label>
				<div class="rightLi">
					<input type="text" class="inputStyle bssdlStatus"/>
					<span class="p-red"> *</span>
				</div>
			</li>
			<li class="list-li">
				<input type="button" class="buttonStyle submit" value="修改"/>
			</li>
		</ul>
	</div>
</body>
</html>
