<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>详情服务动态表</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckeditor/ckeditor.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckfinder/ckfinder.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery-form.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/server/busiserverdynamic_detail.js?ts=new Date()"></script>
</head>

<body>
	<div class="box">
		<ul class="list">
			<li class="list-li">
				<label class="leftLi">服务类别：</label>
				<div class="rightLi">
					<label class="bssdcType"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">标题：</label>
				<div class="rightLi">
					<label class="bssdcTitle"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">封面图：</label>
				<div class="rightLi">
					<img class="bssdcPic_preimg"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">内容：</label>
				<div class="rightLi">
					<label class="bssdcContent"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">描述：</label>
				<div class="rightLi">
					<label class="bssdcDesc"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">点击数：</label>
				<div class="rightLi">
					<label class="bssdcCount"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">发布时间：</label>
				<div class="rightLi">
					<label class="bssdcPdate"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">创建日期：</label>
				<div class="rightLi">
					<label class="bssdcCdate"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">修改日期：</label>
				<div class="rightLi">
					<label class="bssdcUdate"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">状态：</label>
				<div class="rightLi">
					<label class="bssdcStatus"></label>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>
