<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>详情服务详情页面表</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckeditor/ckeditor.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckfinder/ckfinder.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery-form.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/server/busiserverdetail_detail.js?ts=new Date()"></script>
</head>

<body>
	<div class="box">
		<ul class="list">
			<li class="list-li">
				<label class="leftLi">Title内容：</label>
				<div class="rightLi">
					<label class="bssdlTitle"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">SEO关键字：</label>
				<div class="rightLi">
					<label class="bssdlSeo"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">页面html内容：</label>
				<div class="rightLi">
					<label class="bssdlHtml"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">生成的URL路径：</label>
				<div class="rightLi">
					<label class="bssdlUrl"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">创建日期：</label>
				<div class="rightLi">
					<label class="bssdlCdate"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">修改日期：</label>
				<div class="rightLi">
					<label class="bssdlUdate"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">状态:1启用,0禁用：</label>
				<div class="rightLi">
					<label class="bssdlStatus"></label>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>
