<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>详情系统消息中心表</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckeditor/ckeditor.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckfinder/ckfinder.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery-form.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/busi/coremessagecenter_detail.js?ts=new Date()"></script>
</head>

<body>
	<div class="box">
		<ul class="list">
			<li class="list-li">
				<label class="leftLi">消息内容：</label>
				<div class="rightLi">
					<label class="crmecContent"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">创建日期：</label>
				<div class="rightLi">
					<label class="crmecCdate"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">状态：</label>
				<div class="rightLi">
					<label class="crmecStatus"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">消息类型：</label>
				<div class="rightLi">
					<label class="crmecType"></label>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>
