<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>列表客服信息表</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckeditor/ckeditor.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckfinder/ckfinder.js?ts=new Date()"></script>
<!-- <script type="text/javascript" src="../../js/jquery.js?ts=new Date()"></script> -->
<script type="text/javascript" src="../../js/jquery-form.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/busi/corecustomerservice.js?ts=new Date()"></script>
</head>

<body>
	<div class="rightTop greyBox">
		<span class="cur_postion">当前位置： [客服信息编辑 ]</span>
	</div>

	<div class="rightContent">
		<div class="box">
			<ul class="list">
				<li class="list-li">
					<label class="leftLi">电话号码(|隔开)：</label>
					<div class="rightLi">
						<input type="text" class="inputStyle crcseTel"/>
						<span class="p-red"> *</span>
					</div>
				</li>
				<li class="list-li">
					<label class="leftLi">QQ(|隔开)：</label>
					<div class="rightLi">
						<input type="text" class="inputStyle crcseQq"/>
						<span class="p-red"> *</span>
					</div>
				</li>
				<li class="list-li">
					<input type="button" class="buttonStyle submit" value="修改"/>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
